<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	{{if .Loggedin}}
		<p>You are logged in</p>
	{{else}}
		<p>You are not logged in.</p>
	{{end}}
	{{.Phonenumbers}}
</body>
</html>