<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to the contact page</h1>
	<form action="">
		<label for="name">Name</label>
		<input type="text" name="name" id="name"><br>
		<label for="phone">Phone</label>
		<input type="text" name="phone" id="phone"><br>
		<label for="email">Email</label>
		<input type="text" name="email" id="email"><br>
		<input type="submit" value="Submit">

		<a href="http://localhost:3000/">Home Page</a>
	<a href="#">Contact Page</a>
	<a href="http://localhost:3000/faq">FAQ Page</a>
	</form>
</body>
</html>