<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to my awesome site</h1>
{{template "lorem"}}

{{define "lorem"}}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe repellat explicabo delectus, autem error omnis, earum ea magnam non eaque et possimus culpa libero optio deserunt voluptatum. Voluptatum, blanditiis eum.</p>

{{end}}
</body>
</html>
